# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.env.production
.env.development
.venv
venv/
ENV/
env/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# MacOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Logs and databases
*.log
*.sqlite
*.db

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# poetry
poetry.lock

# Unit test / coverage reports
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

*.tar
CLAUDE.md
